<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blessedenterprises">

    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LockScreen"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/noAnimTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppsLauncher"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_apps_launcher"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminCheck"
            android:label="@string/title_activity_admin_check"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".AdminPanel"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".utils.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DatePicker"
            android:label="@string/title_activity_date_picker"
            android:theme="@style/Theme.Transparent" />

        <service
            android:name=".utils.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Adverts"
            android:label="@string/title_activity_adverts"
            android:theme="@style/Theme.FullTransparent" />
    </application>

</manifest>
